syntax: glob

# images
img
images
*.jpg
*.png
*.gif

# external files, scripts and libraries
ext

# auto generated documentation - like doxygen
doc

# os x folder info file
.DS_Store

# archives
*.zip
*.tar.gzip
*.tar.bzip2
*.rar

# configuration file
configure.php

# Eclipse files and folders
.settings
.buildpath
.project
