body {
  overflow: auto;
  background: #36854E;

  /*** disables text marking
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-touch-callout: none;
  -ms-user-select: none;
  user-select: none; ***/

  font-family: Verdana;
  color: white;
}

h1, h2, h3 {
  text-align: center;
}

a {
  color: #BEDEE6;
}

#container {
  width: 80%;
  margin: 10px auto 10px auto;
  padding: 10px;
  background-color: #810b19;
  border: 2px solid white;
}

#backToCube {
  background-image: url(img/backToCube.png);
  background-size: 90px 45px;
  position: fixed;
  top: 0;
  left: 20;
  cursor: pointer;
  width: 90px;
  height: 45px;
}

.description {
  text-align: justify;
}

.contact-details {
  text-align: center;
}

.person {
  margin-top: 50px;
}

.avatar {
  width: 150px;
  height: 200px;
  border: 2px solid white;
  float: left;
  margin: 0 10px 0 0;
}