body {
  overflow:hidden;
  background: #066AFF;
  
  /*** disables text marking ***/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-touch-callout: none;
  -ms-user-select: none;
  user-select: none;
  
  font-family: Verdana;
  
  color: white;
}

h1, h2, h3{
	text-align: center;
}

#container{
	width:90%;
	margin: 10px auto 10px auto;
	padding: 10px;
	background-color: grey;
	border: 2px solid white;
}

.description{
	text-align: justify;	
}

.contact-details{
	text-align: center;
}

.person{
	margin-top: 50px;
}

.avatar{
	width: 150px;
	height: 150px;
	border: 2px solid white;
	float: left;
	margin: 0 10px 0 0 ;
}