body {
  overflow:hidden;
  background: linear-gradient(left, #0D4F8B, #42C0FB, #0D4F8B, #42C0FB, #0D4F8B); 
  background: -webkit-linear-gradient(left, #0D4F8B, #42C0FB, #0D4F8B, #42C0FB, #0D4F8B); 
  background: -moz-linear-gradient(left, #0D4F8B, #42C0FB, #0D4F8B, #42C0FB, #0D4F8B);
  
  /*** disables text marking ***/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  font-size:24px;
  color:#4CBB17;
  font-weight:bold;
  font-family:'Corben',cursive;
  text-shadow:1px 1px black;
  margin-top:5px;
}

/*** The wrapper that contains everything and is resized respectively to the screen,
makes the application responsive ***/
#bigWrapper {
  overflow: hidden;
  top:0; 
  left:0;
}

/*** Responsible for creating the perspective and the 3D effects ***/
#cubeFrame {
  text-align: center;
  perspective:2000px;
  perspective-origin:50% 50%;
  -webkit-perspective:2000px;
  -webkit-perspective-origin:50% 50%;
  -moz-perspective:2000px;
  -moz-perspective-origin:50% 50%;
  -o-perspective:2000px;
  -o-perspective-origin:50% 50%;
  top:0;
  left:0;
}

/*** The cube with its sides following ***/
#cube {
  position:relative;
  height:500px;
  width:500px;
  margin: 0 auto 0 auto;
  transition:transform 1s;
  transform-style:preserve-3d;
  transform:rotateX(90deg);
  
  -webkit-transition:-webkit-transform 1s;
  -webkit-transform-style:preserve-3d;
  -webkit-transform:rotateX(90deg);
  
  -moz-transition:-moz-transform 1s;
  -moz-transform-style:preserve-3d;
  -moz-transform:rotateX(90deg);
}

.face {
  background:#8C8C8C;
  position:absolute;
  height:100%;
  width:100%;
  padding:0;
  font-size:27px;
  line-height:1em;
  color:#fff;
  border:2px solid white;
  border-radius:4px;
  -moz-border-radius:4px;
  transition:opacity 0.8s linear;
  -webkit-transition:opacity 0.8s linear;
  -moz-transition:opacity 0.8s linear;

  transform-style: flat;
  backface-visibility: hidden;
  -webkit-transform-style: flat;
  -webkit-backface-visibility: hidden;
  -moz-transform-style: flat;
  -moz-backface-visibility: hidden;
}

#cube .top {
  transform:rotateX(90deg) translateZ(280px);
  -webkit-transform:rotateX(90deg) translateZ(280px);
  -moz-transform:rotateX(90deg) translateZ(280px);
  -o-transform:rotateX(90deg) translateZ(280px);
}

#cube .back {
  transform:translateZ(-280px) rotateY(180deg);
  -webkit-transform:translateZ(-280px) rotateY(180deg);
  -moz-transform:translateZ(-280px) rotateY(180deg) ;
  -o-transform:translateZ(-280px) rotateY(180deg);
}

#cube .front {
  transform-style:preserve-3d;
  transform:translateZ(280px);
  -webkit-transform-style:preserve-3d;
  -webkit-transform:translateZ(280px);
  -moz-transform-style:preserve-3d;
  -moz-transform:translateZ(280px);
  -o-transform:translateZ(280px);
}

#cube .right {
  transform:rotateY(90deg) translateZ(280px);
  -webkit-transform:rotateY(90deg) translateZ(280px);
  -moz-transform:rotateY(90deg) translateZ(280px);
  -o-transform:rotateY(90deg) translateZ(280px);
}

#cube .left {
  transform:rotateY(-90deg) translateZ(280px);
  -webkit-transform:rotateY(-90deg) translateZ(280px);
  -moz-transform:rotateY(-90deg) translateZ(280px);
  -o-transform:rotateY(-90deg) translateZ(280px);
  text-align:center;
}

#cube .bottom {
  transform:rotateX(-90deg) translateZ(280px);
  -webkit-transform:rotateX(-90deg) translateZ(280px);
  -moz-transform:rotateX(-90deg) translateZ(280px);
  -o-transform:rotateX(-90deg) translateZ(280px);
}

/*** These are the cards and the button from the tutorial with explanations ***/
.tutorial-explanation{
  display:none; 
  position:absolute;
}

.tutorial-explanation img{
  position:absolute;
}

.tutorial-button{
  position: absolute; 
  margin: 420px 0 0 0;
}

#start-intro{
  display:none; 
  position: absolute; 
  margin: 420px 0 0 0;
}

#map-explanation{
  display:none; 
  position:absolute; 
  z-index:5;
}

#how-to img{
  width:300px; 
  height: 37px; 
  border-radius: 10px; 
  margin: 10px auto 0 auto;
}

.time_wrapper {
  margin:10px 0 0 0;
  width:37%;
  float: left;
  text-align:center;
  padding:20px 30px 10px 30px;
}

.sport_wrapper {
  margin:-15px 0 0 0;
  width:31%;
  float: left;
  text-align:center;
  padding:5px 5px 10px 5px;
}

.price_wrapper {
  margin:8px 0 0 0;
  width:47%;
  float: left;
  text-align:center;
  padding:5px 5px 10px 5px;
}

/*** time-togglers ***/
.time-togglers {
  font-size:30px;
  color:#4CBB17;
  font-weight:bold;
  font-family:'Corben',cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-top:10px;
  text-align: center;
}

/*** sports-togglers ***/
.sports-togglers {
  font-size:22px;
  color:#4CBB17;
  font-weight:bold;
  font-family:'Corben',cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: 4px auto 0 auto;
  text-align: center;
}

.price-togglers {
  font-size:35px;
  color:#4CBB17;
  font-weight:bold;
  font-family:'Corben',cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-top:25px;
  margin-bottom: 10px;
  text-align: center;
}

/*** the button All on the price filter ***/
#all_toggler {
  font-size:50px;
  color:#4CBB17;
  font-weight:bold;
  font-family:'Corben',cursive;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-top:20px;
  text-align: center;
}

/*** the yes/no buttons on the 3 filters ***/
.yes-no-button-sports {
  background-image: url(img/buttons.jpg);
  height: 35px;
  width: 100px;
  margin: 2px auto 0 auto;
}

.yes-no-button-time {
  background-image: url(img/buttons.jpg);
  height: 35px;
  width: 100px;
  margin: 10px auto 0 auto;
}

.yes-no-button-price {
  background-image: url(img/buttons.jpg);
  height: 35px;
  width: 100px;
  margin: 15px auto 0 auto;
}

/*** button leading to the map with results ***/
#linkToMap {
  display:none;
  z-index:4;
  position: absolute;
  width: 250px;
  height: 150px;
  margin: 175px 125px 175px 125px;
  box-shadow: 5px 5px 5px black;
  border-radius: 15px;
}

/*** the curtain that dims the screen for the tutorial ***/
#curtain {
  display:none;
  position:absolute;
  width: 100%;
  height: 100%;
  background-color:black;
  opacity: 0.5;
  top:0;
  left:0;
}
