body {
  overflow:hidden;
  background: linear-gradient(left, #0D4F8B, #42C0FB, #0D4F8B, #42C0FB, #0D4F8B); 
  background: -webkit-linear-gradient(left, #0D4F8B, #42C0FB, #0D4F8B, #42C0FB, #0D4F8B); 
  background: -moz-linear-gradient(left, #0D4F8B, #42C0FB, #0D4F8B, #42C0FB, #0D4F8B);
  
  /*** disables text marking ***/
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -moz-touch-callout: none;
  -ms-user-select: none;
  user-select: none;
  
  -webkit-font-smoothing: antialiased;
}

p {
  font-size:24px;
  color:#4CBB17;
  font-weight:bold;
  font-family:'Calibri';
  text-shadow:1px 1px black;
  margin-top:5px;
}

input[type=radio]{
		display:none;
	}

input[type=radio] + label{
		width: 220px;
		display:inline-block;
		padding: 5px;
		text-align: center;
		font-size: 25px;
		line-height: 50px;
		color: black;
		font-weight: bold;
		text-align: center;
		vertical-align: middle;
		cursor: pointer;
		background-color: #f5f5f5;
		border-radius: 5px;
		background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
		background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
		background-image: -o-linear-gradient(top,#fff,#e6e6e6);
		background-image: linear-gradient(to bottom,#fff,#e6e6e6);
		background-repeat: repeat-x;
		
		-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,1);
		-moz-box-shadow: 1px 1px 1px rgba(0,0,0,1);
		box-shadow: 1px 1px 1px rgba(0,0,0,1);
		}

input[type=radio]:checked + label{
		-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,1),0 1px 2px rgba(0,0,0,0.05);
		-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,1),0 1px 2px rgba(0,0,0,0.05);
		box-shadow: inset 1px 1px 1px rgba(0,0,0,1),0 1px 2px rgba(0,0,0,0.05);
		
		color: white;
		background: #299a0b; /* Old browsers */
		background: -moz-linear-gradient(top, #299a0b 0%, #299a0b 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#299a0b), color-stop(100%,#299a0b)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #299a0b 0%,#299a0b 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #299a0b 0%,#299a0b 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #299a0b 0%,#299a0b 100%); /* IE10+ */
		background: linear-gradient(to bottom, #299a0b 0%,#299a0b 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b',GradientType=0 ); /* IE6-9 */
		background-repeat: repeat-x;
}

select {
       width: 240px;
       padding: 5px;
       font-size: 25px;
       background-color: white;
	   margin: 50px auto 0 auto;
	   text-align: center;

       border: 0;
       border-radius: 5px;
       box-shadow: 1px 1px 1px black;
       height: 40px;
       }
select[disabled]{

	background-color: lightgrey;

}
/*##################################################### */
/*#################   classes   ####################### */
/*##################################################### */

.face {
  background:#8C8C8C;
  position:absolute;
  height:100%;
  width:100%;
  padding:0;
  font-size:27px;
  line-height:1em;
  color:#fff;
  border:2px solid white;
  border-radius:4px;
  -moz-border-radius:4px;
  transition:opacity 0.8s linear;
  -webkit-transition:opacity 0.8s linear;
  -moz-transition:opacity 0.8s linear;

  transform-style: flat;
  backface-visibility: hidden;
  -webkit-transform-style: flat;
  -webkit-backface-visibility: hidden;
  -moz-transform-style: flat;
  -moz-backface-visibility: hidden;
  
  overflow: true;
}

/*** These are the cards and the button from the tutorial with explanations ***/
.tutorial-explanation{
  display:none;
  position:absolute;
  top:0; 
  left:0
}

.tutorial-explanation img{
  position:absolute;
}

.tutorial-button{
  position: absolute; 
  margin: 420px 0 0 0;
}

.time_wrapper {
  margin:10px 0 0 0;
  width:37%;
  float: left;
  text-align:center;
  padding:20px 30px 10px 30px;
}

.sports-wrapper {
  margin:0px 0 0 0;
  width:146px;
  float: left;
  text-align:center;
  padding:0px;
}

.price_wrapper {
  margin:8px 0 0 0;
  width:47%;
  float: left;
  text-align:center;
  padding:5px 5px 10px 5px;
}

/*** time-togglers ***/
.time-togglers {
  font-size:30px;
  color:#4CBB17;
  font-weight:bold;
  font-family:'Calibri';
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-top:10px;
  text-align: center;
}

/*** sports-togglers ***/
.sports-togglers {
  font-size:22px;
  color:#4CBB17;
  font-weight:bold;
  font-family:'Calibri';
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: 4px auto 0 auto;
  text-align: center;
}

.price-togglers {
  font-size:35px;
  color:#4CBB17;
  font-weight:bold;
  font-family:'Calibri';
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-top:25px;
  margin-bottom: 10px;
  text-align: center;
}

/*** the yes/no buttons on the 3 filters ***/
.yes-no-button-sports {
  background-image: url(img/buttons.jpg);
  height: 35px;
  width: 100px;
  margin: 2px auto 0 auto;
  cursor: pointer;
}

.yes-no-button-time {
  background-image: url(img/buttons.jpg);
  height: 35px;
  width: 100px;
  margin: 10px auto 0 auto;
  cursor: pointer;
}

.yes-no-button-price {
  background-image: url(img/buttons.jpg);
  height: 35px;
  width: 100px;
  margin: 15px auto 0 auto;
  cursor: pointer;
}

.price-wrapper{
  width: 250px; 
  height: 200px; 
  float: left; 
  margin: 60px auto 30px auto;
}

.help-buttons {
  cursor: pointer;
  width:400px; 
  height: 50px; 
  border-radius: 10px; 
  margin: 50px 50px 0 50px;
  float: left;
  box-shadow: 2px 2px 2px black;
}

/*##################################################### */
/*#################   classes   ####################### */
/*##################################################### */

/*##################################################### */
/*###################   ids   ######################### */
/*##################################################### */

/*** The wrapper that contains everything and is resized respectively to the screen,
makes the application responsive ***/
#bigWrapper {
  overflow: hidden;
  top:0; 
  left:0;
}

/*** Responsible for creating the perspective and the 3D effects ***/
#cubeFrame {
  text-align: center;
  perspective:2000px;
  perspective-origin:50% 50%;
  -webkit-perspective:2000px;
  -webkit-perspective-origin:50% 50%;
  -moz-perspective:2000px;
  -moz-perspective-origin:50% 50%;
  -o-perspective:2000px;
  -o-perspective-origin:50% 50%;
  top:0;
  left:0;
  z-index: 3;
}

/*** The cube with its sides following ***/
#cube {
  position:relative;
  height:500px;
  width:500px;
  margin: 0 auto 0 auto;
  transition:transform 1s;
  transform-style:preserve-3d;
  transform:rotateX(90deg);
  
  -webkit-transition:-webkit-transform 1s;
  -webkit-transform-style:preserve-3d;
  -webkit-transform:rotateX(90deg);
  
  -moz-transition:-moz-transform 1s;
  -moz-transform-style:preserve-3d;
  -moz-transform:rotateX(90deg);
  
  z-index: 2;
}


#cube .top {
  transform:rotateX(90deg) translateZ(280px);
  -webkit-transform:rotateX(90deg) translateZ(280px);
  -moz-transform:rotateX(90deg) translateZ(280px);
  -o-transform:rotateX(90deg) translateZ(280px);
}

#cube .back {
  transform:translateZ(-280px) rotateY(180deg);
  -webkit-transform:translateZ(-280px) rotateY(180deg);
  -moz-transform:translateZ(-280px) rotateY(180deg) ;
  -o-transform:translateZ(-280px) rotateY(180deg);
}

#cube .front {
  transform-style:preserve-3d;
  transform:translateZ(280px);
  -webkit-transform-style:preserve-3d;
  -webkit-transform:translateZ(280px);
  -moz-transform-style:preserve-3d;
  -moz-transform:translateZ(280px);
  -o-transform:translateZ(280px);
}

#cube .right {
  transform:rotateY(90deg) translateZ(280px);
  -webkit-transform:rotateY(90deg) translateZ(280px);
  -moz-transform:rotateY(90deg) translateZ(280px);
  -o-transform:rotateY(90deg) translateZ(280px);
}

#cube .left {
  transform:rotateY(-90deg) translateZ(280px);
  -webkit-transform:rotateY(-90deg) translateZ(280px);
  -moz-transform:rotateY(-90deg) translateZ(280px);
  -o-transform:rotateY(-90deg) translateZ(280px);
  text-align:center;
}

#cube .bottom {
  transform:rotateX(-90deg) translateZ(280px);
  -webkit-transform:rotateX(-90deg) translateZ(280px);
  -moz-transform:rotateX(-90deg) translateZ(280px);
  -o-transform:rotateX(-90deg) translateZ(280px);
}

#start-intro{
  display:none; 
  position: absolute; 
  margin: 420px 0 0 0;
}

#map-explanation{
  display:none; 
  position:absolute; 
  z-index:5;
}

#sports-left-navigator{
  width: 30px;
  height: 410px;
  float:left;
  cursor: pointer;
}

#sports-right-navigator{
  width: 30px;
  height: 410px;
  float:left;
  cursor: pointer;
}

#sports-left-navigator img{
  margin: 110px 3px 110px 3px;
}

#sports-right-navigator img{
  margin: 110px 3px 110px 3px;
}

#sports-page{
  width: 438px;
  height: 420px;
  float:left;
  overflow: hidden;
}

#sports-slider{
  width: 2200px;
  height: 420px;
}

/*** the button All on the price filter ***/
#all_toggler {
  font-size:50px;
  color:#4CBB17;
  font-weight:bold;
  font-family:'Calibri';
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin-top:20px;
  text-align: center;
}

/*** button leading to the map with results ***/
#linkToMap {
  display:none;
  z-index:4;
  position: absolute;
  width: 250px;
  height: 150px;
  margin: 175px 125px 175px 125px;
  box-shadow: 5px 5px 5px black;
  border-radius: 15px;
  cursor: pointer;
}

/*** the curtain that dims the screen for the tutorial ***/
#curtain {
  display:none;
  position:absolute;
  width: 100%;
  height: 100%;
  background-color:black;
  opacity: 0.5;
  top:0;
  left:0;
}

#priceSlider{
	margin-top: 60px;
}

#priceSliderLabel{
	font-size: 50px;
	font-family: cursive;
	text-shadow: 2px 2px black;
	color: #49BB0E;
	
}

#disclaimer{
	width: 400px;
	height: 90px;
	background-color: #606060;
	border-radius: 10px;
	margin: 0px auto 10px auto;
	padding: 10px;
	color: #49BB0E;
	text-shadow: 1px 1px black;
	font-weight: bold;
}

#help{
 width: 50px; 
 height: 50px;
 cursor:pointer;
 position: absolute;
 left: 0;
 top: 0;
 margin-top: 10px;
 margin-left: 10px;
 z-index: 10;
}

#help-window{
  text-align: center;
  color: #2D720C;
  font-size: 70px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  width: 500px;
  height: 500px;
}

#close-help{
   width: 50px; 
   height: 50px;
   cursor: pointer;
   position: absolute;
   margin-left: 190px;
   margin-top: 10px;
}

 

/*##################################################### */
/*###################   ids   ######################### */
/*##################################################### */